.topbar {
    background: #f38258;
}

a.cart-a {
    text-decoration: none;
    color: var(--white-color);
}
a.acc-a {
    padding: 0 5px;
    font-size: 12.5px;
    color: var(--white-color);
}

nav.navbar.navbar-expand-lg.bg-body-tertiary {
    padding: 0;
}

.header_wrap {
    background: var(--primary-color);
}



header {
    font-size: 1.4rem;
    background-color: var(--primary-color);
    color: var(--white-color);
    /* position: fixed; */
    top: 0;
    /* width: 100%; */
    z-index: 2;
}

.header-wrap-logo img {
    max-height: 55px;
}

.nav-wrap {
    padding: 0;
    margin: 0;
}

.nav-item {
    cursor: pointer;
}

.carousel_product {
    margin-top: 80px;
}

.nav-link {
    color: var(--white-color);
    font-weight: 700;
}

/* UNDERLINE */
.line {
    position: relative;
}

.line::after {
    position: absolute;
    display: block;
    bottom: 5px;
    content: "";
    left: 50%;
    width: 0;
    height: 2px;
    background: var(--white-color);
    border-radius: 4px;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.line:hover::after,
.line.active::after {
    width: 100%;
    left: 0;
}

.nav-link:hover {
    color: var(--white-color);
}

.nav-item-a {
    text-decoration: none;
    color: var(--white-color);
}

.search_input {
    position: relative;
}

.search_input input {
    font-size: 1.4rem;

}

button {
    /* position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%); */
    border: none;
    background-color: transparent;
}

.icon_search {
    color: var(--white-color);
    /* background-color: black; */
    padding: 4px 8px;
    font-size: 2rem;
}

.header_icon {
    font-size: 2rem;
}

/* Navbar */
.nav_more {
    position: relative;
}

.nav_more:hover .nav_more-product {
    display: block;
    animation: fadeIn ease-in 0.2s;
}

.nav_more-product {
    position: absolute;
    width: 200px;
    background-color: white;
    top: 100%;
    left: 0;
    border-radius: 2px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    margin-bottom: 0;
    padding-left: 0;
    z-index: 1;
    text-align: left;
    display: none;
}

.more-product-item {
    list-style: none;
}

.more-product-item:hover {
    background-color: #efefef;
}

.more-product-item-a {
    display: inline-block;
    width: 100%;
    color: var(--text-color);
    text-decoration: none;
    padding: 12px 20px;
    text-transform: uppercase;
}


/* Carousel */
.img-carousel {
    object-fit: cover;
    width: 100%;
    /* height: 430px; */
}

.category-hot {
    margin-top: 44px;
}

.title {
    font-weight: bold;
    text-transform: uppercase;
    color: var(--primary-color);
    padding: 12px 0;
    border-bottom: 1px solid rgba(50, 50, 93, 0.25);
}

.hot-product-list {
    margin: 12px 0;
}

/* Card */
.card-product {
    border: 1px solid transparent;
    padding-bottom: 10px;
}

.card-product:hover {
    /* --edge-light: hsla(0, 0%, 50%, 1);
  text-shadow: 0px 0px 10px var(--text-light);
  box-shadow: inset 0.4px 1px 4px var(--edge-light),
    2px 4px 8px hsla(0, 0%, 0%, 0.295);
  transform: scale(1.1); */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px; */
    z-index: 1;
}

.product_a {
    text-decoration: none;
    color: var(--black-color);
}

.card-title-wrap {
    height: 33px;
    padding: 8px 8px;
}

.card-title {
    font-size: 1.3rem;
    font-weight: 400;
    height: 3.4rem;
    white-space: initial;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: 6px 0;
    padding: 0 4px;
}

/* .card-text {} */

.price-product {
    font-size: 1.4rem;
    font-weight: 600;
    /* padding: 22px 6px 0; */
    padding: 0 6px;
    margin: 20px 0 0;
}

.btn-add_cart {
    padding: 2px 0;
    margin-top: 12px;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    color: var(--primary-color);
    z-index: 1;
    background: var(--white-color);
    position: relative;
    font-weight: 500;
    font-size: 14px;
    /* -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27); */
    transition: all 250ms;
    overflow: hidden;
}

.btn-add_cart::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;

    border-radius: 8px;
    background-color: var(--primary-color);
    z-index: -1;
    /* -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27); */
    transition: all 0.3s;
}

.btn-add_cart:hover {
    color: var(--white-color);
}

.btn-add_cart:hover::before {
    width: 100%;
}


.btn-all_product {
    font-size: 1.4rem;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    padding: 5px 32px;
}

.btn-all_product:hover {
    color: var(--white-color);
    background-color: var(--primary-color);
}




/* FOOTER */
footer {
    background-color: var(--primary-color);
    color: var(--white-color);
    margin: 0;
    font-size: 1.4rem;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.sn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

.sn-icon:hover {
    opacity: 0.8;
}

/* Back top */
.backtop {
    width: 4.5rem;
    height: 4.5rem;
    background: var(--primary-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 4rem;
    right: 1.2rem;
    text-decoration: none;
}
.backtop:hover {
    cursor: pointer;
    opacity: 0.9;
}

.backtop i {
    font-size: 2rem;
    color: var(--white-color);
}

.story_brand {
    text-align: justify;
}